body, html {
  padding: 0;
  height: 100%;
  margin: 0;
}
.page-bg {
  background-image: url("road_b.jpg");
  position: relative;
  min-height: 100%;
  background-size: cover;
  padding: 1em;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  /*padding: 2px 5px;*/
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
   }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {*/
    /*margin-bottom: 30px;*/
  /*}*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.button1 {width: 382px;alignment: left;}
.button2 {width: 382px;}
.button3 {width: 320px;}
.button4 {width: 450px;}
.button5 {width: 200px;padding-top: 10px;}

p{
  color: black;
}

.panel-default .panel {
  padding-left: 5px;
}

h4 {
  padding-left: 15px;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

#myProfileSaved .panel-default {
  padding: 40px;
}

.arrange{
  padding-left: 230px;
}
#element1 {display:inline-block;}
#element2 {display:inline-block;}
#element3 {display:inline-block;}
#element5 {display:inline-block;}
#element6 {display:inline-block;}
#element7 {display:inline-block;}
#element8 {display:inline-block;}
