/*My Bookings*/
.thead-dark {
  background-color: #333;
}
.font-view {
  color: white;
}
.container {
  max-width: 100%;
}
.panel-default {
  max-width: 3000px;
}

/*h2 {*/
  /*padding-left: 15px;*/
/*}*/

.editBoxDimensions {
  /*width: 2px;*/
}

table {

}
