  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Black Road</a>
      </div>
      <ul class="nav navbar-nav">
        <li ng-if="variabila.isLoggedIn == true"><a href="#">New Booking</a></li>
        <li ng-click="goToMyProfileSaved()" ng-if="variabila.isLoggedIn == true"><a href="#/myProfileSaved">My Profile</a></li>
        <li ng-click="goToMyBookings();" ng-if="variabila.isLoggedIn == true"><a href="#/myBookings">My Bookings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="logOut()" ng-if="variabila.isLoggedIn == true"><a><span class="glyphicon glyphicon-log-out" ></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
