<link rel="stylesheet" href="styles/login.css">
<div class="card card-container">
  <div class="row" style="background: #f7f7f7">
    <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Log In:</h3>
    <div class="form-group">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    </div>
    <p id="profile-name" class="profile-name-card"></p>
    <div class="form-signin" name="Login">
      <span id="reauth-email" class="reauth-email"></span>

      <div class="form-group">
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-at"></i></span>
            <input ng-model="temp.email" type="email" id="email" name="email" class="form-control input-lg"
                   placeholder="Email address" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input ng-model="temp.password" type="password" name="password" id="password" class="form-control"
                   placeholder="Password" required>
          </div>
        </div>
      </div>

      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button ng-disabled="Login.$invalid" class="btn btn-lg btn-primary btn-block btn-signin"
              ng-click="loginRequest();goToMyProfileSaved();">Log In
      </button>
      <p>You don't have account? Please register:</p>
      <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="goToSignin()">Sign Up</button>
    </div>
  </div>
</div>

