<br/>
<div ng-form="Booking" class="form-horizontal">
  <div class="panel panel-default"><br>
    <h4><strong>Location & Destination</strong></h4>
    <!-- From location -->
    <div id="from_group" class="form-group" ng-class="Booking.from.$invalid ? 'has-error' : ''">
      <div class="col-md-2 control-label" for="from">From</div>
      <div class="col-md-9">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
          <input
            ng-model="temp.from.name"
            type="from"
            class="form-control"
            id="from"
            name="from"
            placeholder="Add current location"
            autocomplete="off"
            required>
        </div>
      </div>
    </div>

    <!-- To destination -->
    <div class="form-group" ng-class="Booking.from.$invalid ? 'has-error' : ''">
      <div class="col-md-2 control-label" for="to">To</div>
      <div class="col-md-9">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
          <input ng-model="temp.to.name" type="to" class="form-control" id="to" name="to" placeholder="Add destination">
        </div>
      </div>
    </div>

    <!--Maps-->
    <div id="googleMap" style="width:100%;height:400px;"></div>
    <br/>

    <div class="panel panel-default"><br>
      <div class="form-group arrange">
        <!-- Price -->
        <div for="price" id="element1"><h4><strong>Price:</strong></h4></div>
        <div id="element2">
          <h4 id="element3" name="price">{{price}}</h4>
          <!--<i class="fa fa-dollar-sign"></i>-->
          <span><strong>&#162;</strong></span>
        </div>
        <!--Distance-->
        <div for="km" id="element5"><h4><strong>Km:</strong></h4></div>
        <label id="distance" name="distance">
          <h4 id="element6">{{calculDistanta}}</h4>
        </label>
        <!--Duration-->
        <div for="duration" id="element7"><h4><strong>Duration:</strong></h4></div>
        <div id="element8" name="duration">
          <h4>{{duration}}</h4>
        </div>
      </div>
    </div>

    <!-- Car type -->
    <h4><strong>Car & Payment</strong></h4>
    <div class="form-group">
      <span><div class="col-md-2 control-label" for="nr_persons">Number of persons</div></span>
      <span class="col-md-3">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-group"></i></div>
          <select type="nr_persons" class="form-control" id="nr_persons" name="nr_persons" ng-model="nrPasageri"
                  ng-change="filtreazaMasini(nrPasageri);">
            <option ng-repeat="passengerNo in maxPassengerList track by $index"
                    value="{{passengerNo}}">{{passengerNo}}</option>
          </select>
        </div>
      </span>
      <span><div class="col-md-2 control-label" for="car_type">Car Type</div></span>
      <span class="col-md-4">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-car"></i></div>
          <select name="cars" class="form-control" id="car_type" ng-model="masinaSelectata"
                  ng-change="priceRequest();">
            <option ng-repeat="masina in listaMasini" value="{{masina}}">
              {{masina.type}}
            </option>
          </select>
        </div>
      </span>
    </div>

    <!-- Payment method -->
    <div class="form-group">
      <span><div class="col-md-2 control-label" for="payment">Payment Method</div></span>
      <span class="col-md-3">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-money"></i></div>
          <select name="payment" class="form-control" id="payment">
            <option value="empty"> </option>
            <option value="cash">Cash</option>
            <option value="card">Credit Card</option>
            <option value="bank_transfer">Bank Transfer</option>
          </select>
        </div>
      </span>

      <!--Voucher-->
      <span><div class="col-md-2 control-label" for="voucher">Voucher</div></span>
      <span class="col-md-4">
        <div class="input-group">
          <div class="input-group-addon"><i class="fas fa-ticket-alt"></i></div>
          <input type="text" class="form-control" id="voucher" name="voucher" placeholder="Add voucher code">
        </div>
      </span>
    </div>

    <!--Pick-up hour-->
    <div class="form-group">
      <!--time-->
      <span class="col-md-2 control-label" for="time">Pick-up hour</span>
      <span class="col-md-3">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
          <input type="time" class="form-control" id="time" name="time">
        </div>
      </span>

      <!--Date-->
      <span class="col-md-2 control-label" for="date">Date</span>
      <span class="col-md-4">
        <div class="input-group date" id="myDatepicker">
          <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
          <input type="date" id="date" class="form-control"/>
        </div>
      </span>
    </div>

    <h4><strong>Client Data</strong></h4>
    <!-- Name -->
    <div class="form-group">
      <div class="col-md-2 control-label" for="name">Name</div>
      <div class="col-md-9">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
          <input type="text" class="form-control" id="name" name="name" placeholder="Add full name">
        </div>
      </div>
    </div>

    <!-- email -->
    <div class="form-group" ng-class="Booking.from.$invalid ? 'has-error' : ''">
      <div class="col-md-2 control-label" for="email">Email</div>
      <div class="col-md-9">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-at"></i></div>
          <input type="email" class="form-control" id="email" name="email" ng-model="email"
                 placeholder="Add e-mail address" required>
        </div>
      </div>
    </div>

    <!-- Phone number -->
    <div class="form-group" ng-class="Booking.from.$invalid ? 'has-error' : ''">
      <div class="col-md-2 control-label" for="phone_number">Phone Number</div>
      <div class="col-md-9">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-phone"></i>
          </div>
          <input type="phone_number" class="form-control" id="phone_number" name="phone_number"
                 placeholder="Add phone number" required>
        </div>
      </div>
    </div>

    <!-- Submit & Cancel buttons -->
    <button type="button" class="btn btn-lg btn-primary btn-signin button1" ng-click="Clear();">CANCEL</button>
    <button type="submit" class="btn btn-lg btn-primary btn-signin button2" ng-click="bookingRequest();">CONFIRM
      BOOKING
    </button>
  </div>
</div>

