<link rel="stylesheet" href="styles/myBookings.css">
<br/>
<div class="container panel panel-default">
  <div id="myBookings" class="wrapper">
    <h2>My bookings</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="font-view">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Car type</th>
        <th>Price</th>
        <th>Payment Method</th>
        <th>Date</th>
        <th>Time</th>
        <th>From</th>
        <th>To</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="booking in data">
        <td>{{$index + 1}}</td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.name}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" id="name" size="6"
                                                      ng-model="booking.name"/></div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.email}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" id="email" size="6"
                                                      ng-model="booking.email"/></div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.phone_number}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" id="phone_number" size="8"
                                                      ng-model="booking.phone_number"/></div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.cartype}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" size="4" ng-model="booking.car_type"/>
          </div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.price}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" size="4" ng-model="booking.price"/>
          </div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.payment_method}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" size="8" ng-model="booking.payment"/>
          </div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.date}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" name="date" ng-model="booking.date"/></div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.time}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="7" size="6" ng-model="booking.time"/></div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.from_address}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" size="6" ng-model="booking.from"/>
          </div>
        </td>
        <td>
          <div ng-if="!editingData[booking.id]">{{booking.to_address}}</div>
          <div ng-if="editingData[booking.id]"><input type="text" maxlength="20" size="6" ng-model="booking.to"/></div>
        </td>

        <td>
          <i class="fa fa-close" ng-click="deleteBooking();deleteBookingReq(booking);"></i>
          <i class="far fa-check-circle" ng-click="confirmBooking();"></i>
          <i class="glyphicon glyphicon-edit" ng-hide="editingData[booking.id]" ng-click="modify(booking);"></i>
          <i class="fa fa-check" ng-show="editingData[booking.id]" ng-click="start();editBookingReq(booking);"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
