<br/>
<div class="container">
  <div class=" panel panel-default" id="myProfileEdit">
    <div class="row">
      <div class="form-horizontal ">
        <h2 style="padding-left: 45px">Edit my profile</h2>
        <hr style="margin-left: 47px; margin-right: 47px">
        <fieldset>
          <div class="form-group ">
            <label class="col-md-4 control-label " for="name">Name (Full name)</label>
            <div class="col-md-6">
              <div class="input-group ">
                <div class="input-group-addon ">
                  <i class="fa fa-user "></i>
                </div>
                <input id="name" name="name" ng-model="name" type="text " placeholder="Name (Full name) "
                       class="form-control input-md "
                       required>
              </div>
            </div>
          </div>

          <!-- Multiple Radios (inline) -->
          <div class="form-group ">
            <label class="col-md-4 control-label ">Gender</label>
            <div class="col-md-6">
              <label class="radio-inline" for="radios-female">
                <input type="radio" name="radios-gender" id="radios-female" value="1" checked="checked">
                Female
              </label>
              <label class="radio-inline" for="radios-male">
                <input type="radio" name="radios-gender" id="radios-male" value="2">
                Male
              </label>
              <label class="radio-inline" for="radios-unknown">
                <input type="radio" name="radios-gender" id="radios-unknown" value="2">
                Unknown
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label " for="address">User type</label>
            <div class="col-md-3">
              <select type="text" class="form-control" name="user_type" id="user_type" ng-model="user_type">
                <option value="driver">Driver</option>
                <option value="webclient">Webclient</option>
                <option value="backoffice">Backoffice</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label " for="address">Role</label>
            <div class="col-md-3">
              <select type="text" class="form-control" name="role" id="role" ng-model="role">
                <option value="admin">Admin</option>
                <option value="standard">Standard</option>
                <option value="manager">Manager</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label " for="address">Type</label>
            <div class="col-md-3 col-xs-2 ">
              <select type="text" class="form-control" name="type" id="type" ng-model="type">
                <option value="business">Business</option>
                <option value="personal">Personal</option>
              </select>
            </div>
          </div>


          <div class="form-group ">
            <label class="col-md-4 control-label " for="address">Address</label>
            <div class="col-md-6 col-xs-4 ">
              <input id="address" name="address" type="text " placeholder="Full address" class="form-control input-md "
                     ng-model="address">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group ">
            <label class="col-md-4 control-label " for="phone_number" ng-required="[0-9]">Phone number </label>
            <div class="col-md-6">
              <div class="input-group ">
                <div class="input-group-addon ">
                  <i class="fa fa-phone "></i>
                </div>
                <input id="phone_number" name="phone_number" type="text " placeholder="Phone number "
                       ng-model="phone_number"
                       class="form-control input-md " required>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group ">
            <label class="col-md-4 control-label " for="email">Email Address</label>
            <div class="col-md-6">
              <div class="input-group ">
                <div class="input-group-addon ">
                  <i class="fa fa-at"></i>
                </div>
                <input id="email" name="email" ng-model="email" type="text " placeholder="Email Address "
                       class="form-control input-md">
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group ">
            <label class="col-md-4 control-label " for="country">Country</label>
            <div class="col-md-6">
              <div class="input-group ">
                <div class="input-group-addon ">
                  <i class="fa fa-at"></i>
                </div>
                <input id="country" name="country" ng-model="country" type="text " placeholder="Country"
                       class="form-control input-md ">
              </div>
            </div>
          </div>

        </fieldset>
      </div>
    </div>

    <button ng-disabled="Login.$invalid " class="btn btn-lg btn-primary btn-signin button1"
            ng-click="goToMyProfileSaved();"><span class="glyphicon glyphicon-remove-sign "></span>Cancel</a></button>
    <button ng-disabled="Login.$invalid " class="btn btn-lg btn-primary btn-signin button2"
            ng-click="goToMyProfileSaved();saveProfileRequest(); refreshSavedPage(); "><span
      class="glyphicon glyphicon-thumbs-up "></span>Save</a></button>
    <br/><br/>
  </div>
</div>
