<br/>
<div id="myProfileSaved">
  <div class=" panel panel-default">
    <div class="row">
      <div class=" col-md-12">
        <table class="table table-user-information">
          <h2>My Profile</h2>
          <tbody>
          <tr>
            <td>Name (Full name)</td>
            <td>{{profile.name}}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{profile.gender}}</td>
          </tr>
          <tr>
            <td>User type</td>
            <td>{{profile.user_type}}</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>{{profile.role}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{profile.type}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{profile.address}}</td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{profile.phone_number}}</td>
          </tr>
          <tr>
            <td>Email Address</td>
            <td>{{profile.email}}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{profile.country}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pull-right">
      <button ng-disabled="Login.$invalid" class="btn btn-lg btn-primary btn-signin button5"
              ng-click="goToMyProfile();"><span class="glyphicon glyphicon-edit"></span>Edit Data</a></button>
    </div>
  </div>
</div>
