<link rel="stylesheet" href="styles/signin.css">
<div class="card card-container">
  <div class="row" style="background: #f7f7f7">
    <div class="col-md-12">
      <div class="form form-horizontal">
        <h3 class="text-center default-text py-3"> Registration form:</h3>
        <img class="profile-img"
             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120">
        <p id="profile-name" class="profile-name-card"></p>
        <div class="form-signin" name="Signin">
          <span id="reauth-email" class="reauth-email"></span>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name" ng-model="name"
                       placeholder="Enter your Name"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user-md" aria-hidden="true"></i></span>
                <select type="text" class="form-control" name="user_type" id="user_type" ng-model="user_type"
                        placeholder="Choose your user type">
                  <option value="driver">Driver</option>
                  <option value="webclient">Webclient</option>
                  <option value="backoffice">Backoffice</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-cogs" aria-hidden="true"></i></span>
                <select type="text" class="form-control" name="role" id="role" ng-model="role"
                        placeholder="Choose your role">
                  <option value="admin">Admin</option>
                  <option value="standard">Standard</option>
                  <option value="manager">Manager</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-briefcase" aria-hidden="true"></i></span>
                <select type="text" class="form-control" name="type" id="type" ng-model="type"
                        placeholder="Choose your type">
                  <option value="business">Business</option>
                  <option value="personal">Personal</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 gender" id="gender" name="gender">
              <label class="radio-inline" for="radios-female">
                <input type="radio" name="radios-gender" id="radios-female" value="female" checked="checked"
                       ng-model="radios_female">
                Female
              </label>
              <label class="radio-inline" for="radios-male">
                <input type="radio" name="radios-gender" id="radios-male" value="male" ng-model="radios_male">
                Male
              </label>
              <label class="radio-inline" for="radios-unknown">
                <input type="radio" name="radios-gender" id="radios-unknown" value="unknown" ng-model="rdios_unknown">
                Unknown
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input id="address" name="Address" type="text" placeholder="Address" class="form-control input-md "
                       ng-model="adress">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text" id="phone_number" class="form-control" placeholder="Phone number"
                       ng-model="phone_number">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
                <input type="text" ng-model="temp.email" class="form-control" name="email" id="email"
                       placeholder="Enter your Email" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" ng-model="password"
                       placeholder="Enter your Password"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="confirm" id="confirm"
                       placeholder="Confirm your Password"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <input type="checkbox" id="terms_conditions">I accept <a
              href="https://www.booking.com/content/terms.en-gb.html">terms
              and conditions!</a>
            </div>
          </div>

          <button ng-disabled="Login.$invalid" class="btn btn-lg btn-primary btn-block btn-signin"
                  ng-click="register();goToLogin();checkTerms();">Register
          </button>
          <button ng-disabled="Login.$invalid" class="btn btn-lg btn-primary btn-block btn-signin"
                  ng-click="goToLogin();">Log In
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
